{% extends "core/shop.html" %}
{% load static %}

{% block cat_content %}
{% for category in categories %}
<a href="{% url 'category_detail' category.id %}" class="nav-item nav-link">{{ category.Categoryname }}</a>

{% endfor %}
{% endblock %}

<div class="row pb-3">

  {% block book_content %}
  {% for book in page_obj %}
  <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
    <div class="card product-item border-0 mb-4">
      <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
        {% if book.image %}
        <img class="img-fluid" src="{{ book.image.url }}" alt="{{ book.title }}"
          style="width: 100%; height: 200px; object-fit: contain; padding: 10px; border: 2px solid #ddd; box-sizing: border-box;">
        {% else %}
        <img class="img-fluid" src="{% static 'core/img/default-image.jpg' %}" alt="No image available"
          style="width: 100%; height: 200px; object-fit: contain; padding: 10px; border: 2px solid #ddd; box-sizing: border-box;">
        {% endif %}
      </div>
      <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
        <h6 class="text-truncate mb-3">{{ book.title }} </h6>
        <div class="d-flex justify-content-center">
          <h6>{{ book.price }} </h6>
          <!-- <h6 class="text-muted ml-2"><del></del></h6> -->
        </div>
      </div>
      <div class="card-footer d-flex justify-content-between bg-light border">
        <a href="{% url 'book_detail' book.id %}" class="btn btn-sm text-dark p-0"><i
            class="fas fa-eye text-primary mr-1"></i>View Detail</a>

        {% if user.is_authenticated %}
        <a href="#" class="btn btn-sm text-dark p-0"
          onclick="document.getElementById('add-to-cart-form-{{ book.id }}').submit();">
          <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart
        </a>

        <form id="add-to-cart-form-{{ book.id }}" method="post" action="{% url 'add' book.pk %}" style="display: none;">
          {% csrf_token %}
          <input type="hidden" name="item_id" value="{{ book.id }}">
        </form>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-sm text-dark p-0">
          <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart
        </a>
        {% endif %}

      </div>
    </div>
  </div>
        {% endfor %}

</div>
<script>
  function submitAddToCart(bookId) {
    if (!isAuthenticated) {
      window.location.href = "{% url 'login' %}";
      return;
    }

    const form = document.getElementById('add-to-cart-form-' + bookId);
    if (form) {
      form.submit();
    } else {
      alert("فرم یافت نشد");
    }
  }


</script>

{% endblock %}