{% extends "core/base.html" %}
{% load static %}


{% block content %}


<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Shop Detail</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a href="{% url 'home' %}">Home</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Book Detail</p>
    </div>
  </div>
</div>
<!-- Page Header End -->


<!-- Shop Detail Start -->
<div class="container-fluid py-5">
  <div class="row px-xl-5">
    <div class="col-lg-5 pb-5">
      <div id="product-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner border">
          <div class="carousel-item active">
            {% if book.image %}
            <img class="img-fluid" src="{{ book.image.url }}" alt="{{ book.title }}">
            {% else %}
            <img class="img-fluid" src="{% static 'core/img/default-image.jpg' %}" alt="No image available">
            {% endif %}

          </div>
          <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
            <i class="fa fa-2x fa-angle-left text-dark"></i>
          </a>
          <a class="carousel-control-next" href="#product-carousel" data-slide="next">
            <i class="fa fa-2x fa-angle-right text-dark"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-7 pb-5">
      <h3 class="font-weight-semi-bold">{{ book.title }}</h3>
      <div class="d-flex mb-3">
        <div class="text-primary mr-2">
          <small class="fas fa-star"></small>
          <small class="fas fa-star"></small>
          <small class="fas fa-star"></small>
          <small class="fas fa-star-half-alt"></small>
          <small class="far fa-star"></small>
        </div>
        <small class="pt-1">(50 Reviews)</small>
      </div>
      <h3 class="font-weight-semi-bold mb-4">{{ book.price }}</h3>
<p class="mb-0">
    {% for category in book.category.all %}
        {{ category.Categoryname }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>
      <p class="mb-4">{{book.description}}</p>
      <form method="post" action="{% url 'add' book.pk %}">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="hidden" name="item_id" value="{{ book.id }}">

        <button class="btn btn-sm btn-primary" type="submit" name="action" value="add">Add to cart
        </button>
      </form>
    </div>
    <div class="d-flex pt-2">
      <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
      <div class="d-inline-flex">
        <a class="text-dark px-2" href="">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="text-dark px-2" href="">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="text-dark px-2" href="">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a class="text-dark px-2" href="">
          <i class="fab fa-pinterest"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row px-xl-5">
  <div class="col">
    <div class="nav nav-tabs justify-content-center border-secondary mb-4">
      {% for author in book.authors.all %}

      <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">{{ author.Authorname }}</a>
      <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">Reviews (0)</a>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="tab-pane-1">
        <h4 class="mb-3">Author Biography</h4>
        <p>{{author.bio}}</p>
      </div>
      {% empty %}
      <li>No authors</li>
      {% endfor %}

      <div class="tab-pane fade" id="tab-pane-3">
        <div class="row">
          <div class="col-md-6">
            <h4 class="mb-4">1 review for "{{book.title}}"</h4>
            <div class="media mb-4">
              <img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
              <div class="media-body">
                <h6>John Doe<small> - <i>01 Jan 2045</i></small></h6>
                <div class="text-primary mb-2">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <i class="far fa-star"></i>
                </div>
                <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam
                  tempor rebum magna dolores sed sed eirmod ipsum.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h4 class="mb-4">Leave a review</h4>
            <small>Your email address will not be published. Required fields are marked *</small>
            <div class="d-flex my-3">
              <p class="mb-0 mr-2">Your Rating * :</p>
              <div class="text-primary">
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </div>
            <form>
              <div class="form-group">
                <label for="message">Your Review *</label>
                <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="name">Your Name *</label>
                <input type="text" class="form-control" id="name">
              </div>
              <div class="form-group">
                <label for="email">Your Email *</label>
                <input type="email" class="form-control" id="email">
              </div>
              <div class="form-group mb-0">
                <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Shop Detail End -->


<!-- Products Start -->
<!-- Products Start -->
<div class="container-fluid pt-5">
  <div class="text-center mb-4">
    <h2 class="section-title px-5"><span class="px-2">You May Also Like</span></h2>
  </div>
  <div class="row px-xl-5 pb-3">
    {% for book in categories_book %}
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="card product-item border-0 mb-4">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
          {% if book.image %}
          <img class="img-fluid" src="{{ book.image.url }}" alt="{{ book.title }}"
            style="width: 100%; height: 200px; object-fit: contain; padding: 10px; border: 2px solid #ddd; box-sizing: border-box;">
          {% else %}
          <img class="img-fluid" src="{% static 'core/img/default-image.jpg' %}" alt="No image available"
            style="width: 100%; height: 200px; object-fit: contain; padding: 10px; border: 2px solid #ddd; box-sizing: border-box;">
          {% endif %}
        </div>

        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
          <h6 class="text-truncate mb-3">{{ book.title }}</h6>
          <div class="d-flex justify-content-center">
            <h6>{{ book.price }} </h6>
            <!-- <h6 class="text-muted ml-2"><del>$123.00</del></h6> -->
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border">
          <a href="{% url 'book_detail' book.id %}" class="btn btn-sm text-dark p-0"><i
              class="fas fa-eye text-primary mr-1"></i>View Detail</a>

          <a href="#" class="btn btn-sm text-dark p-0" onclick="submitAddToCart({{ book.id }})">
            <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart
          </a>

          <form id="add-to-cart-form-{{ book.id }}" method="post" action="{% url 'add' book.pk %}"
            style="display: none;">
            {% csrf_token %}
            <input type="hidden" name="item_id" value="{{ book.id }}">
          </form>
        </div>
      </div>
    </div>

    {% endfor %}



  </div>
</div>
<!-- Products End -->
<!-- Products End -->


<script>
  function submitAddToCart(bookId) {
    const form = document.getElementById('add-to-cart-form-' + bookId);
    if (form) {
      form.submit();
    } else {
      alert("");
    }
  }

</script>


{% endblock %}